<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>

<body>
{% load static %}

<h2> {{product}} </h2>

{{product.category}}

<img src="{% static product.image %}" alt="Product" width="500" height="600">
<div>
    <h4> Reviews: </h4>
    <div>
        {% for r in reviews%}
        {{r}}
        {% endfor %}
    </div>
</div>

<div>
   {{product.description}}

</div>
<a href="{% url 'update' product.id %}">Update</a>
<a href="{% url 'delete' product.id %}">Delete</a>

</body>
</html>